body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  background: url("http://lorempixel.com/1920/1080") no-repeat;
}

h1 {
  color: #00728c;
}

h3 {
  color: ;#000000;
}

.textBand {
  height: 20vh;
  margin: 40vh auto;
  text-align: center;
  width: 100vw;
  background: #ffffff;
  border: 2px solid #000;
  border-left: none;
  border-right: none;
  display: table;
  vertical-align: middle;
}

.textCenter {
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  height: 20vh;
}
