body {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  color: #00728c;
}

h3 {
  color: ;#000000;
}

.textBand {
  height: 20vh;
  margin: 40vh auto;
  text-align: center;
  width: 100vw;
  background: #ffffff;
  border: 2px solid #000;
  border-left: none;
  border-right: none;
  display: table-cell;
  vertical-align: middle;
}
